<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctors List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div id="header-bottom-right" style="float:right;">
            <% if (typeof user == 'object' && user) { %>
                <form class="form-inline" action="/admin/logout" method="POST">
                    <strong>
                    <a href="/admin/<%= user.username %>" style="font-size:1.1em;"><b><%= user.username %></b></a>&nbsp;
                    |&nbsp;<button type="submit" class="btn btn-danger"><b>logout</b></button>&nbsp;
                    </strong>
                </form>
                <!-- <%- user %> -->
            <% } else { %>
                <span class="admin">Want to join?
                    <a href="/admin" class="login-link" style="color:red;font-size:1.1em;"><b>Log In/Sign Up</b></a> in seconds.
                </span>
            <% } %>
        </div>
        <div style="clear:both;"></div>
    </header>
    <!-- <%- doctors %> -->
    <div class="container">
        <ul>
            <% for (let i=0; i < doctors.length; i++) {%>
                <li>
                    Name: <%= doctors[i].name %>
                    <br>
                    <% if(!doctors[i].isAvailable) { %>
                        <form action="/admin/checkin/<%= doctors[i]._id %>" method="post">
                        <input type="submit" value="Check in" class="btn btn-danger">
                        </form>
                    <% } else { %>
                        <form action="/admin/checkout/<%= doctors[i]._id %>" method="post">
                        Time: <%= doctors[i].timing.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %>
                        <br>
                        <input type="submit" value="Check out" class="btn btn-primary">
                        </form>
                    <% } %>
                    <!-- Is the doctor available: <%= doctors[i].isAvailble %> -->
                </li>
                <br>
            <% } %>
        </ul>
    </div>
</body>
</html>