<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctors login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse">
            <span class="navbar-brand">H|M|S</span>
            <ul class="navbar-nav">
                <% if (typeof user == 'object' && user) { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/doctors/<%= user.username %>/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doctors/<%= user.username %>/editProfile">Edit Profile</a>
                </li>
                <% } %>
            </ul>
        </nav>
        <div id="header-bottom-right" style="float:right;">
            <% if (typeof user == 'object' && user) { %>
                <form class="form-inline" action="/admin/logout" method="POST">
                    <strong>
                    <a href="/admin/<%= user.username %>" style="font-size:1.1em;"><b><%= user.username %></b></a>&nbsp;
                    |&nbsp;<button type="submit" class="btn btn-danger"><b>logout</b></button>&nbsp;
                    </strong>
                </form>
            <% } %>
        </div>
        <div style="clear:both;"></div>
    </header>
    <div class="time-slots container">
        <%- timeSlots %>
        <br>
        <br>
        <%- timeSlots._08AM_10AM.isBooked %>
        <br>
        <h4>My Time Slots</h4>
        <p>Click on the time slots to set availability</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Slot 1</th>
                    <th scope="col">Slot 2</th>
                    <th scope="col">Slot 3</th>
                    <th scope="col">Slot 4</th>
                    <th scope="col">Slot 5</th>
                    <th scope="col">Slot 6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 
                        <form method="POST" action="" class="form-group form-inline">

                            <button type="submit" class="form-control btn btn-success">done</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    </div>

</body>
</html>