<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctors List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <%- include('../navbarBlock') %> 
    <div class="container">
        <!-- <%- doctors %> -->
        <br>
        <h4>Available doctors:</h4>
        <% if (doctors.length) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Doctor</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Check in Time</th>
                        <th scope="col">Make an appointment</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < doctors.length; i++) {%>
                        <tr>
                            <th scope="row"><%- i+1 %></th>
                            <td ><%= doctors[i].name %></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" disabled><%= doctors[i].designation %></button>                                
                            </td>
                            <td ><%= doctors[i].timing.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
                            <td >
                                <form action="/users/<%= patientName %>/book/<%= doctors[i]._id %>" method="post">
                                    <input type="submit" value="Make an appointment" class="btn btn-success">
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% } else { %>
            <br>
            No doctors available, you may want to come back and check a little later.
            <br>
        <% } %>
        <hr>
        <h4>Your appointments:</h4>
        <% if(userAppointments[0]) { %>
            <!-- <%= userAppointments[0].appointments %> -->
            <% if (userAppointments[0].appointments.length) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Doctor</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Check in Time</th>
                            <th scope="col">Cancel appointment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < userAppointments[0].appointments.length; i++) {%>
                            <tr>
                                <th scope="row"><%- i+1 %></th>
                                <td ><%= userAppointments[0].appointments[i].name %></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" disabled><%= userAppointments[0].appointments[i].designation %></button>                                
                                </td>
                                <td ><%= userAppointments[0].appointments[i].timing.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
                                <td >
                                    <form action="/users/<%= patientName %>/cancel/<%= userAppointments[0].appointments[i]._id %>" method="post">
                                        <input type="submit" value="Cancel appointment" class="btn btn-danger">
                                    </form>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
                <br>
                You have not scheduled any appointments with any doctor.
            <% } %>
        <% } %>
        <br>
        
    </div>
</body>
</html>